// Variables
$md: 768px;

.dash-container {
  

  .dash-main {
    background-color: rgb(25, 128, 22);
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  @media screen and (min-width: $md) {
    display: grid;
    grid-template-columns: max-content 1fr;
  }
}
