// styling the header of the navigation bar
.navigationbar{
    background-color: rgba(255, 255, 255, 0.96);
    height: 100px;
    max-height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
    h1{
        font-size: 20px;
    }
}
