
.navigationbar{
    background-color: rgba(252, 248, 255, 0.96);
    height: 70px;
    max-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    border-bottom: 1px solid #e1e1e1;
    
    h1{
        font-size: 20px;
    }
}