// @import  './variables'

.invest-mainpage{
  padding: 200px 16px 100px;
  
  .invest-section1{
      display: flex;
      flex-flow: column nowrap;
      gap: 20px;
      align-items: center;
      margin-bottom: 60px;

      .section-texts{
      
        h4{
          font-size: 3.2rem;
          letter-spacing: 1px;
          text-align: center;
          line-height: 72px;
          font-weight: 700;
          color: #0c1825;
          margin-bottom: 15px;
        }
          .invest-securely{
            width: 70%;
            margin: 0 auto;

              p{
                font-family: DM Sans, sans-serif !important;
                // color: #000000;
                line-height: 27.2px;
                font-size: 16.5px;
                -webkit-font-smoothing: antialiased;
                display: block;
                margin-block-end: 1.5em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                text-align: center;
                
              }
          }
      }

    }
    .invest-img {
      width: 260px;
      height: 518px;
      margin-top: 70px;
      position: relative;
     
    #{&}__links{
      position: absolute;
      inset: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: auto;
      width: 0;
      height: 0;
      min-width: 100%;
      min-height: 100%;
      max-height: 100%;
    }
    .poAbsolute1, .poAbsolute2 {
      background-color: rgba(255, 255, 255, 0.85);
      border-radius:10px;
      box-shadow: 2px 2px 22px 0px  rgba(0, 0, 0, 0.2);
      width: 284px;
      height: 100px;
      position: absolute;
      top: 186px;
      left: -24px;  
    }
  
   .poAbsolute2 {
        top: 305px;

        }
  }
      
  
  .poAbsolute__card{
    position: absolute;
    top: -15px;
    left: -24px;
    width: 112%;
      height: 140%;
      min-width: 112%;
      min-height: 140%;
      max-height: 140%;
    }
    .invest-img__svgpath {
      position: absolute;
      top: -40px;
      left: -50px;
    }
    
  }