.account-card {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #ffffff;
  background: url("./assets/bg-pattern.8efb1209.png") no-repeat right
    center/cover;
  background-color: rgb(13, 96, 216);
}
