.authForm-container {
  background-color: #ffffff;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  margin: auto;

  .authForm {
    .form-header {
      margin-bottom: 30px;
      .form-title {
        color: rgb(1, 1, 186);
        margin-bottom: 10px;
        text-align: center;
      }

      .form-subtitle {
        text-align: center;
        color: grey;
      }
    }

    .form-body {
      .form-field-wrapper {
        margin-bottom: 40px;

        label {
          color: grey;
          font-weight: bold;
          font-size: 0.8rem;
        }

        input[type], select {
          outline: none;
          border: 1px solid #edf2f7;
          border-radius: 5px;
          width: 100%;
          padding: 13px;
          margin: 10px 0;
          background-color: #edf2f7;
          font-size: 1.1rem;
        }

        label,
        input, select {
          display: block;
        }
      }

      .submitBtn {
        cursor: pointer;
        display: block;
        background-color: #0d60d8;
        border: 1px solid #0d60d8;
        text-align: center;
        color: #fff;
        font-weight: bold;
        width: 100%;
        padding: 15px;
        border-radius: 7px;
        border-bottom-left-radius: 0;

        &:hover {
          background-color: #083e9e;
        }
      }
    }
  }
}
