.section1{
  display: flex;
  flex-flow: column;
  gap: 50px;

   .imageCont{
     .image{
       position: relative;
       border: 3px solid rgba(0,0,0,0.7);
       border-radius: 20px;
       height: 500px;
       width: 350px;
       margin: 0 auto;
      }
      .image1{
        position: absolute;
        top:35px;
        left:-40px;
        border-radius: 20px;
        height: 440px;
        width: 350px;
        margin: 0 auto;
        img{
          width: 100%;
          height: 100%;
        }
      }
  }
}


 @media screen and (min-width: 1000px) {
  .section1{
    flex-flow: row nowrap;
    width: 90%;
    margin-top: 80px;
    margin-left: 20px;
    justify-content: space-between;
  }
  .betgrid{
    width: 50%;
    margin-left: 60px;
  }
  .Overallcon{
    background-color: rgba(192, 191, 191, 0.14);
    width: 32%;
  }
  .margintop{
    width: 40px;
    height: 10%;
    
  }
  .imageCont{
    position: relative;
    width: 410px;


    .image1 {
      top: 20px !important;
      left: -40px !important;
      height: 500px !important;
        width: 350px;

      }
      .image{
       width: 350px;
        height: 550px !important;
       margin-top: 120px !important;
      margin-right: 200% !important;
      }
  }

    .GridCont {
      width: 95%;
      gap: 50px;
      margin-top: 70px;
      flex-flow: row nowrap !important;
      align-items: start !important;
    }
    
    
}

.GridCont {
  display: flex;
  gap: 60px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center
}
